/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */
 html {
   background-color: #fff5f5;
 }

 #main-header {
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   letter-spacing: 1px;
   background-color: black;
 }

 #main-header h1.site-title {
   border: solid black;
   border-width: 170px;
   border-height: 100px;
   padding: 10px;
   background-color: #fff5f5;
   min-width: 25%;
 }

 #main-header h2.tagline {
   color: white;
   font-size: 80%;
   margin: 15%;
   padding-bottom: 20px;
 }

.section-title {
  text-align: center;
  font-family: 'Press Start 2p', cursive;
}

p {
  margin: 20px 20px;
  text-align: justify;
}

.main-content-section {
  border: solid 1px black;
  color: #ff5f6;
}
