/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */
html {
  background-color: #fff5d5;
}

#main-header {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  letter-spacing: 1px;
  background-color: black;
  background-image: url(http://68.media.tumblr.com/1cb64256e6d0352201c7b7fb5cef7619/tumblr_opfrqsUKNr1w9snk2o1_1280.gif);
  background-size: cover;
}

#main-header h1.site-title {
  padding: 200px;
  font-size: 150%;
}

#main-header h1.site-title div.box-title {
  color: white;
  margin: auto;
  padding: 30px;
  width: 150px;
  height: 90px;
  border-radius: 10px;

#main-header h2.tagline {
  font-size: 80%;
  color: white;
  padding-bottom: 20px;
}

.section-title {
  text-align: center;
  font-family: 'Press Start 2p', cursive;
}

p {
  margin: 20px 20px;
  text-align: justify;
}

.main-content-section {
  border: solid 1px black;
  color: #ff5f6;
}
