/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */
html {
  background-color: #fff5d5;
}

#main-header{
  text-align: center;
  font-family: Press Star 2P, monospace;
  letter-spacing: 1px;
  border: solid 1px black;
}

.main-content-section{
  position: absolute;
  float: left;
  text-align: center;
  font-family: Press Star 2P, monospace;
  letter-spacing: 1px;
  border: solid 1px white;
}

h2 {

}
